//! **************************************************************************
// Written by: Map P.20131013 on Sun Aug 21 00:03:23 2022
//! **************************************************************************

SCHEMATIC START;
COMP "SEL" LOCATE = SITE "V1" LEVEL 1;
COMP "A" LOCATE = SITE "R2" LEVEL 1;
COMP "B" LOCATE = SITE "T1" LEVEL 1;
COMP "Q" LOCATE = SITE "L1" LEVEL 1;
SCHEMATIC END;

